/* Comentário em CSS */
p#new {
	color: purple;
}

p.outher {
	color: blue;
}

p {
	color: green;
}

div.first li{
	background: #000000;
	color: #fff;
}

div.square {
	border: 1px solid #00ff00;
	padding: 10px;
	margin: 10px;
	height: 100px;
	width: 100px;
	float: left;
}

div.squaretwo {
	border: 1px solid #0000ff;
	padding: 10px;
	margin: 10px;
	height: 100px;
	width: 200px;
	float: right;
}
